<h1 class='header'>CCSF Rails</h1>
<h2>About Us</h2>
<p class='textCenter'>This is Lab 2 in CS 232 Ruby on Rails class</p>
<br /><br />
<p class='small textCenter'>Current Time: <%= Time.now.strftime("%Y-%m-%d %H:%M:%S") %></p>
<p class='small textCenter'>Find me in <span class='code'>app/views/ccsf_rails/about.html.erb</span></p>
