<h1 class='header'>CCSF Rails</h1>
<h2>Contact Us</h2>
<p class='textCenter'>
Email the web master
<a href='mailto:ywun@mail.ccsf.edu?subject=Sent%20from%20CCSF%20Rails%20Web%20Site'>ywun@mail.ccsf.edu</a>
</p>
<br /><br />
<p class='small textCenter'>Current Time: <%= Time.now.strftime("%Y-%m-%d %H:%M:%S") %></p>
<p class='small textCenter'>Find me in <span class='code'>app/views/ccsf_rails/contact.html.erb</span></p>
