<h1>CCSF Rails</h1>
<h2>Index Page</h2>
<br /><br />
<p class='textCenter'>Welcome to the CCSF Rails web site!</p>
<br /><br />
<h3>References<h3>
<h4>Sass</h4>
<ul>
    <li class='textCenter'><a href='http://sass-lang.com/guide' target='_blank'>User Guide</a></li>
    <li class='textCenter'><a href='http://sass-lang.com/documentation/file.SASS_REFERENCE.html' target='_blank'>Documentation</a></li>
    <li class='textCenter'><a href='http://sass-lang.com/documentation/Sass/Script/Functions.html' target='_blank'>Color Functions</a></li>
</ul>
<br /><br />
<p class='small textCenter'>Current Time: <%= Time.now %></p>
<p class='small textCenter'>Find me in <span class='code'>app/views/ccsf_rails/index.html.erb</span></p>
