<h1 class='header'>CCSF Rails</h1>
<h2>Useful Links</h2>
<ul>
    <li class='textCenter'><a href='http://hackingthevalley.com/ccsf/rails' target='_blank'>Class Information Page</a></li>
    <li class='textCenter'><a href='http://hills.ccsf.edu/~dputnam/tests/lab_links.py?course=rails' target='_blank'>Links of All Labs in the Class</a></li>
    <li class='textCenter'><a href='http://ruby-doc.org/ target='_blank'>Official Ruby Web Site</a></li>
    <li class='textCenter'><a href='http://ruby.railstutorial.org/ruby-on-rails-tutorial-book' target='_blank'>Ruby on Rails Tutorial</a></li>
    <li class='textCenter'><a href='http://sass-lang.com/' target='_blank'>Sass</a></li>
</ul>
<br /><br />
<p class='small textCenter'>Current Time: <%= Time.now.strftime("%Y-%m-%d %H:%M:%S") %></p>
<p class='small textCenter'>Find me in <span class='code'>app/views/ccsf_rails/links.html.erb</span></p>
